<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>QAbot</title>
	<link rel="shortcut icon" type="image/x-icon" href="https://em-content.zobj.net/thumbs/60/google/350/robot_1f916.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<center>
	  <img src="https://em-content.zobj.net/source/animated-noto-color-emoji/356/robot_1f916.gif" style="width:40px;height:40px;"><h1>QAbot</h1>
    </center>
    <div class="box">
      <div>
        <div id="chatbox">
          <div class="botInput">
        	<img src="https://em-content.zobj.net/thumbs/60/google/350/robot_1f916.png"><p class="botText">Hi! I'm QAbot. You can ask me anything!</p>
          </div>
        </div>
        <div id="userInput">
          <input id="textInput" type="text" name="msg" placeholder="Send a message" />
        </div>
      </div>
    </div>
	<script src="bot.js"></script>
</body>
</html>